<div class='add-task-content'>
    {{#link-to 'tasks'}}Home{{/link-to}}
    <form>
      <div class="form-group">
        {{input type="text" class="form-control" id="task-title" placeholder = 'Title of a new task' value=title}}
      </div>
      <div class="form-group">
        {{input type="text" class="form-control" id="task-content" placeholder = 'Some description' value=content}}
      </div>
      <div class='form-group'>
          {{input type='date' class='form-control' value=date}}
      </div>

      <div class='form-group'>
          <label>Pin that task</label>
          {{input type='checkbox' class='form-control' checked=isPinned}}
      </div>

    <div class='form-group'>
         <label>Select a priority</label>
        {{input type='number' class='form-control' checked=prior max="3" value=prior}}
    </div>
      <button {{action 'addTask'}} type="submit" class="btn btn-info btn-block">Submit</button>
    </form>

</div>
